# IntelliJ IDEA
.idea/
*.iml

# Compilação Java / IntelliJ
out/
*.class

# Build tools
target/
build/
.gradle/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp

src/db.properties
